<?xml version="1.0" encoding="UTF-8" ?>
    
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.lendingsystem.lendingsystem"
        versionCode = "1" 
        version     = "1.0.0" >
        <name>DLUMC Mobile App</name>
        <description>
            Mobile application for OUS Lending System.
        </description>
        <author email="jonathanbravo@yahoo.com" href="http://dmmmsu-sluc.com">
            Jonathan Bravo
        </author>
        <content src="index.html" />
        <access origin="*" />
        <icon src="icon.png" gap:platform="android" gap:qualifier="ldpi" />
        <icon src="icon.png" gap:platform="android" gap:qualifier="mdpi" />
        <icon src="icon.png" gap:platform="android" gap:qualifier="hdpi" />
        <icon src="icon.png" gap:platform="android" gap:qualifier="xhdpi" />
        <icon src="icon.png" gap:platform="android" gap:qualifier="xxhdpi" />
        <icon src="icon.png" gap:platform="android" gap:qualifier="fr-xxhdpi" />
		<feature name="debug-server" required="false" />
    </widget>
